
body{
	font-feature-settings: "ss01" !important;
}
.apexcharts-tooltip .apexcharts-tooltip-y-group {
	margin-right: 10px !important;
	font-family: 'Peyda' !important;
}
.apexcharts-text{
	font-family: 'Peyda' !important;
}
.apexcharts-tooltip-title{
	font-family: 'Peyda' !important;
}
._9w8d5{
	font-family: 'Peyda' !important;
}
.apexcharts-legend-text{
	margin-right: 10px !important;
	font-family: 'Peyda' !important;
}
.apexcharts-text{
	font-family: 'Peyda' !important;

}
 .apexcharts-xaxis-label {
	font-family: 'Peyda' !important;
}